In [50]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression #gotta start somewhere
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline # I remember the idea of pipelines from datacamp.com and I intend to always
                                           # use pipelines with ML
from sklearn.impute import SimpleImputer

In [39]:
df = pd.read_csv('train.csv',index_col='PassengerId')
sex_dict = {'male':0,
           'female':1}
df['Is_female']=df['Sex'].map(sex_dict).astype('category')
df['Pclass']=df['Pclass'].astype('category')
df['has_Cabin']=df['Cabin'].notnull().astype('int').astype('category')


df.drop(columns=['Name','Ticket','Embarked','Sex','Cabin'],inplace=True)

# In retrospect, I should not do this because the mean age of the training set is influenced by the test set and vice versa.
# I will do the imputing in the ML pipeline instead - after splitting the data

#mean_age = df['Age'].loc[df['Age'].notnull()].mean()
#df.loc[df['Age'].isnull(),'Age']=mean_age
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Survived   891 non-null    int64
 1   Pclass     891 non-null    category
 2   Age        714 non-null    float64
 3   SibSp      891 non-null    int64
 4   Parch      891 non-null    int64
 5   Fare       891 non-null    float64
 6   Is_female  891 non-null    category
 7   has_Cabin  891 non-null    category
dtypes: category(3), float64(2), int64(3)
memory usage: 44.7 KB

In [40]:
df.head()

             Survived Pclass   Age  SibSp  Parch     Fare Is_female has_Cabin
PassengerId
1                   0      3  22.0      1      0   7.2500         0         0
2                   1      1  38.0      1      0  71.2833         1         1
3                   1      3  26.0      0      0   7.9250         1         0
4                   1      1  35.0      1      0  53.1000         1         1
5                   0      3  35.0      0      0   8.0500         0         0

In [41]:
X = df.drop(columns=['Survived'])
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                   test_size=0.3,
                                                   random_state=56)

In [51]:
methods = [LogisticRegression(),RandomForestClassifier(),SVC(),GradientBoostingClassifier()]

for method in methods:
    pipe=make_pipeline(SimpleImputer(),StandardScaler(),method)
    pipe.fit(X_train,y_train)
    print(pipe.score(X_test,y_test))

0.8171641791044776
0.8134328358208955
0.8283582089552238
0.7910447761194029

Let's work with SVC as that is looking to be the most accurate with default parameters. Next is going to be cross validation, hyperparameter tuning and perhaps exploring the other methods as well.